In [40]:
import json
import pandas as pd

with open("./database/series.json","r",encoding="utf-8") as series:
    datos_serie = json.load(series)

with open("./database/channels.json","r",encoding="utf-8") as series:
    datos_channels = json.load(series)


df_movies = pd.read_csv("./database/movies.csv")

In [41]:
df_movies

,title,genre,classification,duration,synopsis,url
0,"Babar, La Película",Children & Family,G,1hr 16 min,"La historia empieza con un desfile y, después ...",https://pluto.tv/on-demand/movies/5df7b722e955...
1,Izzie's Way Home,Children & Family,NaN,1hr 17 min,"Un pez de acuario escapa de un yate a su casa,...",https://pluto.tv/on-demand/movies/5e50530b0b98...
2,Rápido y peludo,Children & Family,TV-G,1hr 31 min,"Cuando su familia se va de vacaciones, un perr...",https://pluto.tv/on-demand/movies/62ffebc8c246...
3,Garfield Gets Real,Children & Family,TV-Y,1hr 18 min,Sigue a Garfield detrás de escena en Cartoon W...,https://pluto.tv/on-demand/movies/5f358844c885...
4,El Ángel en el Reloj,Children & Family,G,1hr 30 min,Una niña enferma desea detener el tiempo. Este...,https://pluto.tv/on-demand/movies/6107ef8e94cf...
...,...,...,...,...,...,...
1794,War of the Worlds,Action & Adventure,NaN,1hr 33 min,En esta nueva versión moderna del clásico horr...,https://pluto.tv/on-demand/movies/5dc930f083ad...
1795,Las Guerras Inmortales,War,TV-14,1hr 32 min,Después de que una guerra catastrófica sume al...,https://pluto.tv/on-demand/movies/627c0d665581...
1796,Hada de dientes: la raiz del mal,Horror,NaN,1hr 31 min,20 años después de ser aterrorizada por el Had...,https://pluto.tv/on-demand/movies/628cfe38e82f...
1797,War of the Worlds 2: The Next Wave,Action & Adventure,NaN,1hr 27 min,"Dos años después de la invasión marciana, se d...",https://pluto.tv/on-demand/movies/5dc92f1f045f...
1798,Las Guerras inmortales: Renacimiento,Sci-Fi & Fantasy,TV-14,1hr 24 min,Rebirth tiene lugar durante las primeras etapa...,https://pluto.tv/on-demand/movies/627c0d6e5581...

In [42]:
print(f"Hay un total de {len(df_movies)} peliculas y un total de {len(df_movies["genre"].unique())} generos")

Hay un total de 1799 peliculas y un total de 23 generos

In [43]:
df_serie = pd.DataFrame(columns=['title',"genre","classification","synopsis","temporadas"
                                 ,"url"])
for serie in datos_serie:
    df_serie.loc[len(df_serie)] = [serie["title"],serie["genre"],serie["classification"],serie["synopsis"],len(serie["seasons"]),serie["url"]]
    

df_serie

,title,genre,classification,synopsis,temporadas,url
0,El Diario Secreto De Una Profesional,Romance,R,Una nueva versión del programa de televisión d...,1,https://pluto.tv/on-demand/series/5e1e5f3a2e57...
1,Tómame o Déjame,Romance,TV-14,"Lara es la sexóloga mas reconocida del país, p...",1,https://pluto.tv/on-demand/series/5e46e382033f...
2,Satisfaction,Romance,TV-MA,"Las chicas regresan para volver a empezar, all...",2,https://pluto.tv/on-demand/series/5e06698ce20d...
3,Infieles,Reality,R,"Las vidas de cinco jóvenes mujeres, amigas ínt...",2,https://pluto.tv/on-demand/series/5f8ee06b72d1...
4,Sin tetas no hay paraíso (ESP),Telenovela,TV-PG,"Cata y ""El Duque"", un romance lleno de intriga...",3,https://pluto.tv/on-demand/series/609e9d0641fc...
...,...,...,...,...,...,...
205,Sins of the City,Drama,TV-14,Después de que Vince Karol se acuesta con la e...,1,https://pluto.tv/on-demand/series/609d6d9c0c3a...
206,Ekaterina,Drama,R,La vida de la emperatriz rusa Ekaterina II (Ca...,2,https://pluto.tv/on-demand/series/648c7350fafd...
207,Vacaciones en Grecia,Comedy,TV-PG,Los Berkinson sólo conocían el éxito y la fort...,1,https://pluto.tv/on-demand/series/608c2c06e63e...
208,Broadchurch,Thriller,TV-MA,Broadchurch es una serie de drama de 8 capítul...,1,https://pluto.tv/on-demand/series/5e1e5eafdc37...
209,Rock Story,Telenovela,TV-PG,"Exitoso en los 90, el rockero Gui Santiago int...",1,https://pluto.tv/on-demand/series/6205101133b8...

In [44]:
print(f"Hay un total de {len(df_serie)} series con {len(df_serie["genre"].unique())} generos")


max_temporadas = int(df_serie["temporadas"].idxmax())
min_temporadas = int(df_serie["temporadas"].idxmin())
print(f"La serie con mayor cantidad de temporadas es {df_serie.iloc[max_temporadas]["title"]} con {df_serie.iloc[max_temporadas]["temporadas"]} temporadas" )

Hay un total de 210 series con 18 generos
La serie con mayor cantidad de temporadas es South Park con 25 temporadas

In [45]:

episodios = pd.DataFrame(columns=['title', 'season', 'number_of_episodes'])

for serie in datos_serie:
    title = serie["title"]  
    for temporada in serie["seasons"]:
        season = temporada["season"]  
        number_of_episodes = len(temporada["episodes"])

        nueva_fila = pd.DataFrame({
            'title': [title],
            'season': [season],
            'number_of_episodes': [number_of_episodes]
        })

        episodios = pd.concat([episodios, nueva_fila], ignore_index=True)


episodios

                                    title    season number_of_episodes
0    El Diario Secreto De Una Profesional  Season 1                 12
1                         Tómame o Déjame  Season 1                 20
2                            Satisfaction  Season 1                 10
3                            Satisfaction  Season 2                 10
4                                Infieles  Season 1                 16
..                                    ...       ...                ...
406                             Ekaterina  Season 1                 10
407                             Ekaterina  Season 2                 12
408                  Vacaciones en Grecia  Season 1                 30
409                           Broadchurch  Season 1                  8
410                            Rock Story  Season 1                135

[411 rows x 3 columns]

### Top 10 series con mas episodios

In [46]:
episodios.groupby("title")["number_of_episodes"].sum().reset_index().sort_values(by='number_of_episodes',ascending=False).head(10)

                              title number_of_episodes
10                Archivos Forenses                376
139                      South Park                294
164                       Yu-Gi-Oh!                234
134  Sin tetas no hay paraíso (ESP)                225
109                          Naruto                220
12               Autopista al Cielo                220
82            La Familia del Barrio                188
67                         Inuyasha                167
90      Lo Que Callamos Las Mujeres                160
101                        MacGyver                139

In [68]:
programas = pd.DataFrame(columns=['name', 'numero_programas'])

for canal in datos_channels:
    name = canal["name"]  
    cantidad_programas = len(canal["programas"])
    nueva_fila = pd.DataFrame({"name":[name],"numero_programas":[cantidad_programas]})
    
    programas = pd.concat([programas, nueva_fila], ignore_index=True)


programas

                        name numero_programas
0                 CSI: Miami                3
1      Pluto TV Cine Estelar                3
2                       NCIS                3
3      Pluto TV Cine Clásico                3
4          Pluto TV Deportes                3
..                       ...              ...
173         MTV Spankin' New                3
174          MTV Flow Latino                3
175                  Yo! MTV                3
176  Conciertos por Stingray                3
177     Karaoke por Stingray                3

[178 rows x 2 columns]